<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BLDNADevice</key>
	<dict>
		<key>Notes</key>
		<string>局域网发现的新设备</string>
		<key>DBName</key>
		<string>BLDNADevice</string>
		<key>ClassName</key>
		<string>BLDNADevice</string>
	</dict>
	<key>BLLoginResult</key>
	<dict>
		<key>Notes</key>
		<string>局域网发现的新设备</string>
		<key>DBName</key>
		<string>BLLoginResult</string>
		<key>ClassName</key>
		<string>BLLoginResult</string>
	</dict>
	<key>BLUserInfo</key>
	<dict>
		<key>Notes</key>
		<string>局域网发现的新设备</string>
		<key>DBName</key>
		<string>BLUserInfo</string>
		<key>ClassName</key>
		<string>BLUserInfo</string>
	</dict>
	<key>BLFamilyIdInfo</key>
	<dict>
		<key>Notes</key>
		<string>局域网发现的新设备</string>
		<key>DBName</key>
		<string>BLFamilyIdInfo</string>
		<key>ClassName</key>
		<string>BLFamilyIdInfo</string>
	</dict>
	<key>BLOauthResult</key>
	<dict>
		<key>Notes</key>
		<string>局域网发现的新设备</string>
		<key>DBName</key>
		<string>BLOauthResult</string>
		<key>ClassName</key>
		<string>BLOauthResult</string>
	</dict>
	<key>BLFamilyInfo</key>
	<dict>
		<key>Notes</key>
		<string>局域网发现的新设备</string>
		<key>DBName</key>
		<string>BLFamilyInfo</string>
		<key>ClassName</key>
		<string>BLFamilyInfo</string>
	</dict>
	<key>DeviceBaseInfo</key>
	<dict>
		<key>Notes</key>
		<string>局域网发现的新设备</string>
		<key>DBName</key>
		<string>DeviceBaseInfo</string>
		<key>ClassName</key>
		<string>BLFamilyDeviceInfo</string>
	</dict>
	<key>SubDeviceBaseInfo</key>
	<dict>
		<key>Notes</key>
		<string>局域网发现的新设备</string>
		<key>DBName</key>
		<string>SubDeviceBaseInfo</string>
		<key>ClassName</key>
		<string>BLFamilyDeviceInfo</string>
	</dict>
	<key>BLModuleInfo</key>
	<dict>
		<key>Notes</key>
		<string>局域网发现的新设备</string>
		<key>DBName</key>
		<string>BLModuleInfo</string>
		<key>ClassName</key>
		<string>BLModuleInfo</string>
	</dict>
	<key>BLRoomInfo</key>
	<dict>
		<key>Notes</key>
		<string>局域网发现的新设备</string>
		<key>DBName</key>
		<string>BLRoomInfo</string>
		<key>ClassName</key>
		<string>BLRoomInfo</string>
	</dict>
</dict>
</plist>
